.batch-container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 920px;
}

.random-question-btn {
  margin: 30px;
}

.batch-performance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
  margin-bottom: 4rem;
}

.green-bar, .orange-bar, .red-bar {
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-bar {
  background-color: #00B749;
}

.orange-bar {
  background-color: #FFBA08;
  flex-grow: 1;
}

.red-bar {
  background-color: #D00000;
}

.batch-page {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.batch-dates > p {
  font-size: 1em;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-weight: 300;
}

.students-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.random-student {
  margin-top: auto;
  margin-left: 2rem;
}

.batch-card {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 !important;
}

.edit-buttons > * {
  margin: 0.2rem;
}

.batch-info h1 {
  font-size: 3em;
  font-family: 'Source Sans Pro';
}

.date-pickers {
  display: flex;
  flex-grow: 1;
}

.edit-batch {
  width: 60%;
  margin: 0 auto;
}
