.batches-container .paper {
  padding: 30px 50px 15px 50px;
  text-align: center;
  margin: 20px 0;
}

.batches-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.batches h1 {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 2rem;
}

.batches {
  margin-top: 50px;
}

.add-batch {
  padding: 2rem 0;
  position: relative;
}

.paper {
  font-family: 'Nunito' !important;
  margin: 1.5rem !important;
}
