.BatchesContainer {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.BatchesContainer .paper {
  padding: 30px 50px 15px 50px;
  text-align: center;
  margin: 20px 0;
}

.batches-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.batches h1 {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.batches {
  margin-top: 50px;
}

.add-batch {
  padding: 30px 0;
  position: relative;
}

#root > div > div:nth-child(2) > div > div:nth-child(1) > div > div {
  position: absolute;
  right: 0
}

.paper {
  font-family: 'Nunito' !important;
}
