.batch-container {
  margin: 0 auto;
  padding: 2rem;
}

.random-question-btn {
  margin: 30px;
}

.batch-performance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
  margin-bottom: 4rem;
}

.green-bar, .orange-bar, .red-bar {
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-bar {
  background-color: #00B749;
}

.orange-bar {
  background-color: #FFBA08;
  flex-grow: 1;
}

.red-bar {
  background-color: #D00000;
}

.batch-page {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.batch-dates {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.students-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.random-student {
  margin-top: auto;
  margin-left: 2rem;
}

/* .random-student {
  width: 200px;
  border: none;
  box-shadow: 0.5px 1px 15px 1px #CCCCCC;
  cursor: pointer;
  font-family: 'Source Sans Pro', 'Roboto', 'Helvetica', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.5rem;
  background-color: #000;
  color: white;
} */

/* .random-student button:hover {
} */

/* .random-student {
  display: flex;
  justify-content: justify;
  align-content: center;
} */

.batch-card {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 !important;
}

.edit-buttons > * {
  margin: 0.2rem;
}
