.batch-container {
  margin: 0 auto;
  text-align: center;
}

.random-question-btn {
  margin: 30px;
}

.green, .orange, .red {
  margin: 10px;
}

.batch-performance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.green-bar, .orange-bar, .red-bar {
  width: 30%;
  height: 40px;
}

.green-bar {
  background-color: #00B749;
}

.orange-bar {
  background-color: #FFBA08;
}

.red-bar {
  background-color: #D00000;
}

.batch-page {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.batch-dates {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.students-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
