.error-text {
  color: red;
  font-size: 1em;
}

.student-container {
  max-width: 920px;
  margin: 0 auto;
  padding: 3rem;
}

.student {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: space-between;
  margin-bottom: 4rem;
  position: relative;
}

.green {
  background-color: #00B749;
}

.green:hover {
  background-color: #00752F;
}

.orange {
  background-color: #FFBA08;
}

.orange:hover {
  background-color: #BA8806;
}

.red {
  background-color: #D00000;
}

.red:hover {
  background-color: #850000;
}

textarea {
  min-height: 200px;
  border: 0.5px solid #CCCCCC;
  font-family: 'Roboto' !important;
  font-size: 1em;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-grow: 2;
}

.evaluations {
  display: flex;
  flex-wrap: wrap;
}

.last-evaluations {
  margin-top: auto;
}

.evaluations > * {
  width: 40px;
  height: 40px;
  margin: 0.1rem;
}

.evaluations > *:hover {
  cursor: pointer;
}

.evaluation-btns {
  margin-right: 3rem;
}

.evaluation-btns > button {
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  box-shadow: 1px 1px 5px #A9B2AC;
  width: 50px;
  height: 50px;
}

.evaluation-btns > button:hover {
  cursor: pointer;
}

.evaluation-btns > button.active {
  width: 60px;
  height: 60px;
}

.add-evaluation {
  margin-top: 30px;
  width: 70%;
  min-height: 450px;
  margin: 0 auto;
}

.submit-form {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: auto;
}

.photo {
  width: 30%;
  max-width: 250px;
  max-height: 300px;
  display: flex;
}

.photo > img {
  width: 100%;
  overflow: hidden;
}

.input-field {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}

.action-buttons > div {
  margin-bottom: 0.5rem;
}

.student-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 2rem;
}

.student-info h1 {
  margin-bottom: 0;
}

.batch-number {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
}
