.last-evaluation {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.green {
  background-color: #00B749;
}

.orange {
  background-color: #FFBA08;
}

.red {
  background-color: #D00000;
}

.students-card {
  margin: 2em 0;
  width: 260px;
  background-color: #fff;
  box-shadow: 1.5px 1.5px 10px #CCCCCC;
}

.students-card:hover {
  cursor: pointer;
}

.profile-picture {
  max-width: 260px;
  min-height: 220px;
  max-height: 220px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 1.1em;
  font-weight: 600;
}
