body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Roboto', Helvetica, Arial, sans-serif !important;
  background-color: #F9F9F7;
}

.container {
  padding: 5rem;
  margin: 0 auto;
  max-width: 920px;
}

.card {
  text-align: center;
}

.header {
  font-size: 1.5em;
  border-bottom: 1px solid #8B8C89;
  flex: 1;
  margin: 0;
  padding-bottom: 1rem;
}

.error-text {
  font-size: 12px;
  color: red;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}
